*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* начало работы (layout) */
.page {
  display: flex;
  justify-content: center;
  align-items: center;
}
.content {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 29px;
  padding: 0px 30px 180px;
}
.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.content__details {
  display: flex;
  flex-direction: column;
  
  gap: 26px;
  justify-content: space-between;
}
.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 298px;
  overflow: auto;
  flex-wrap: wrap;
  align-content: space-between;
  flex-direction: row-reverse;
}
ul::-webkit-scrollbar {
  width: 5px;        
}
ul::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 6px;
}

/* продолжение (size) */
.result {
  display: flex;
  flex-direction: column;
  
}
.result__video {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.result__video-container {
  width: 711px;
  height: 386px;
}
.content__list-item {
  display: flex;
  width: 394px;
  
}
.content__video-card {
  display: flex;

  width: 394px;
  flex-direction: row;
  
  
}
.content__video-card-thumbnail {
  display: flex;
  width: 194px;
  height: 103px;
  flex-direction: column;
  justify-content: right;
}

.content__video-card-description-container {
display: flex;
flex-direction: column;
width: 100%;
height: 100%;
object-fit: fill;
gap: 6px;
}

/* продолжение (placeholder) */

.result__video-container {

}
.content__list {

}

/* продолжение (text style) */

.search-form__fieldset-title {

}
.title {
  color: #fff;
  
font-family: "Oswald";
font-size: 75px;
font-style: normal;
font-weight: 700;
line-height: 94%; /* 70.5px */
text-transform: uppercase;
}
.content__accent {
  color: #545050;
}
.content__card-link {
  text-decoration-line:none ;
}
.content__video-card-title {
  color: #FFF;
  font-family: "Oswald";
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; 
  text-transform: uppercase;

}
.content__video-card-description {
  color: #FFF;
  font-family: "Fira Sans Condensed";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.2px; 
}